<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{title}}</h1>
    <!-- <h1>条件渲染</h1>
    {{if age<=18}}
    <p>age > 18,模板字符串{{title}}，姓名：{{name}},年龄{{age}}</p>
    {{/if}}
    {{if age>25}}
    <p>age > 25,模板字符串{{title}}，姓名：{{name}},年龄{{age}}</p>
    {{/if}}
    {{if happy}}
    如果高兴（happy为true）
    {{/if}}
    <h1>循环渲染</h1>
    <!-- 循环遍历list每一项为item -->
    <!-- {{each list as item}}
        <p>循环遍历,id是{{item.id}}，内容是{{item.content}}</p>
    {{/each}} --> -->
</body>
</html>